altair==4.2.2
keras==2.11.0
matplotlib
numpy
opencv_python==4.7.0.68
pandas
Pillow==9.4.0
pyrebase==3.0.27
Pyrebase4==4.6.0
scipy
streamlit
streamlit_option_menu
tensorflow
tensorflow_hub
tensorflow_intel
